body{
    font-family: Arial, sans-serif;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    max-width: 1400px;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
}
.text-box{
    width: 50%;
    padding: 20px;
}
.image-div{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: right;
}
.image-div img{
    width: 300px;
    height: 300px;
    width: 50%;
    border-radius: 50%;
    object-fit: cover;
}
.line{
    display: inline-block;
    width: 4px;
    height: 105px;
    background-color: #ff6f00;
    margin-right: 10px;
}

.text-box h1{
    display: inline-block;
    font-size: 40px;
    line-height: 75px;
    color: #090909;
}
.text-box h1 span{
    color: #ff6f00;
    font-weight: bold;
    
}
.text-box p{
    font-size: 16px;
    margin: 5px 0;
    color: black;
}

.button-div{
    margin: 25px 0;
}
.button-div button{
    background-color: #ff6f00;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
header h1{
    text-align: center;
    font-size: 2.5rem;
    color: #000060;
}
header span{
    color: #ff6f00;
}
.icon-box{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 30px;
    max-width: 1400px;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
}
.card-1{
    background-color: #eef5ee;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    
}
.card-1 img{
    height: 150px;
    width: 150px;
    align-items: left;
}
.card-1 h2{
    font-size: 1.5rem;
}
.card-1 p{
    font-size: 12PX;
}
.card-2{
    background-color: #f8ecd4;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    
}
.card-2 img{
    height: 150px;
    width: 150px;
    align-items: left;
}
.card-2 h2{
    font-size: 1.5rem;
}
.card-2 p{
    font-size: 12PX;
}
.card-3{
    background-color: #fae2a4;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    
}
.card-3 img{
    height: 150px;
    width: 150px;
    align-items: left;
}
.card-3 h2{
    font-size: 1.5rem;
}
.card-3 p{
    font-size: 12PX;
}
.yellow-circle{
    display: flex;
    align-items: left;
    justify-content: first baseline;
    margin: 50px 0;
    
}
.background{
    background-image: url(image/circle.png);
    background-size: 150px;
    height: 150px;
    width: 150px;
    position: relative;
    bottom: -50px;
    left: -335px
}
.yellow-circle img{
    background-position: relative;
    max-width: 250px;
    left: 119px;
    top: 98px;
    border-radius: 10px;
    z-index: 1;
}
.develop{
    text-align: left;
    margin-top: 0px;
    position: relative;
    left: -35px;
}
.develop h2{
    font-size: 2rem;
    line-height: 75px;
}

.develop p{
    font-size: 12px;

}
.develop button{
    background-color: #ff6f00;
    color: #ffffff;
    padding: 10px 20px;
    border:  none;
    border-radius: 5px;
    cursor: pointer;
}
.flex{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    max-width: 1400px;
    gap: 80px;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
}
